@using Portal.Models;
@model Portal.Models.NCSM_CRC_DUTY_ContactList

@{
    var d = Model;

}
@{
    CustomerEntities db1 = new CustomerEntities();

    var callerType = db1.NCSM_CRC_DUTY_Officer.Where(w => w.Active == true).OrderBy(o => o.Name);
}

@{
    CustomerEntities db2 = new CustomerEntities();

    var SectorNumber = db2.NCSM_Canadian_Red_Cross_QC_CityRegion.Where(w => w.Active == true).Select(o => new { sector = o.SectorNumber }).Distinct().OrderBy(o => o.sector);
}

<script src="@Href("~/Scripts/jquery.maskedinput.js")"></script>
<style>
    #hidden_div {
        text-align: center;
        display: none;
    }

    #hidden_duty {
        display: none;
    }
</style>
<div style="width: 1200px; margin: 0 auto; text-align: center;">
    <span class="site-title">
        <span class="English">  Edit Contact</span>
        <span class="French"> Modifier le contact</span>

    </span>
    <br />&nbsp;<br />
</div>


<form id="editContact" name="editContact" method="post" action="@Href("~/Contacts/Update/")@Model.ContactID">
    <div style="margin: 0 auto; text-align: center;">
        <span class="English"> Name</span>
        <span class="French"> Nom</span>
        &nbsp;&nbsp;&nbsp;
        <input type="text" id="ContactFullName" name="ContactFullName" value="@d.ContactFullName" /> <br /> <br />
        <span style="color:red;">* </span>
        <span class="English"> Cell Number (1)</span>
        <span class="French"> Cellulaire (1) SMS  </span>
        :&nbsp;&nbsp;&nbsp;
        <input type="text" id="ContactCell1" name="ContactCell1" value="@d.ContactCell1" /> <br /> <br />

        <span class="English"> Cell Number (2)</span>
        <span class="French"> Cellulaire (2)</span>
        :&nbsp;&nbsp;&nbsp;
        <input type="text" id="ContactCell2" name="ContactCell2" value="@d.ContactCell2" /> <br /> <br />
        <span class="English">Residency</span>
        <span class="French"> Résidence </span>
        :&nbsp;&nbsp;&nbsp;
        <input type="text" id="Residency" name="Residency" value="@d.Residency" /> <br /> <br />
        <span class="English"> Cell Number (3)</span>
        <span class="French"> Cellulaire (3)</span>
        :&nbsp;&nbsp;&nbsp;
        <input type="text" id="ContactCell3" name="ContactCell3" value="@d.ContactCell3" /> <br /> <br />
        <span class="English"> Cell Number (4)</span>
        <span class="French"> Cellulaire (4)</span>
        :&nbsp;&nbsp;&nbsp;
        <input type="text" id="ContactCell4" name="ContactCell4" value="@d.ContactCell4" /> <br /> <br />
        <span class="English"> Cell Number (5)</span>
        <span class="French"> Cellulaire (5)</span>
        :&nbsp;&nbsp;&nbsp;
        <input type="text" id="ContactCell5" name="ContactCell5" value="@d.ContactCell5" /> <br /> <br />
        <!--   <tr>
        <td style="width:300px; text-align: right; vertical-align: top;"><span style="color:red;"> </span>Sector: </td>
        <td style="text-align: left; vertical-align: top;"><input type="text" id="Sector" name="Sector" value="@d.Sector" /></td>
    </tr>-->


        <a class="pgBtn" style="font-size:12px;">




        </a>

        <span class="doAdd" style="font-size:12px;"><span class="English">Save Changes</span><span class="French">Sauvegarder les modifications</span></span>

        <!--   <input type="button" id="doAdd" name="doAdd" value="Save Changes" style="font-size:14px;" />-->
        <span class="cancelEdit" style="font-size:12px;"><span class="English">Cancel Edit</span><span class="French">Annuler Modifier</span></span>

        <!-- <input type="button" id="cancelEdit" name="cancelEdit" value="Cancel Edit" style="font-size:14px;" />-->



    </div>
</form>

<div id="ValErr" title="Error">
    <span id="valflderror"></span>
</div>



<script>

    $("#ContactCell1").mask("(999) 999-9999", { placeholder: "_" });
    $("#ContactCell2").mask("(999) 999-9999", { placeholder: "_" });
    $("#Residency").mask("(999) 999-9999", { placeholder: "_" });
    $("#ContactCell3").mask("(999) 999-9999", { placeholder: "_" });
    $("#ContactCell4").mask("(999) 999-9999", { placeholder: "_" });
    $("#ContactCell5").mask("(999) 999-9999", { placeholder: "_" });
    $(".doAdd").button();
  
    $(".cancelEdit").button();

    $(".doAdd").click(function () {

        if ($("#ContactFullName").val() == "") {
            $("#valflderror").html('Please enter a Name.');
            $("#ValErr").dialog("open");
            return false;
        }

        if ($("#ContactCell1").val() == "") {
            $("#valflderror").html('Please enter a valid Phone Number.');
            $("#ValErr").dialog("open");
            return false;
        }
        if ($("#OrgDutyName").val() == "") {
            $("#valflderror").html('Duty Name Cannot Empty. Click ("Change Duty Role")');
            $("#ValErr").dialog("open");
            return false;
        }



        if ($("#DutyName").val() == "Regular") {
            if ($("#Sector").val() == "") {
                $("#valflderror").html('Please enter a valid Sector.');
                $("#ValErr").dialog("open");
                return false;
            }
        }

        $("#editContact").submit();


    });

    $('#DutyName').change(function () {
        $('#OrgDutyName').val($(this).val());
    });

    $(".cancelEdit").click(function () {
        location.href = "@Href("~/Contacts")"
    });



    $(function () {

        $('#ValErr').dialog({
            autoOpen: false,
            modal: true,
            draggable: false,
            width: 450,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                },
            }
        });

    });

    function showDuty(divId, element) {
        document.getElementById(divId).style.display ='block';
    }

   function showDiv(divId, element) {
        document.getElementById(divId).style.display = element.value == "Regular" ? 'block' : 'none';
    }


</script>