@using Portal.Models;
@model Portal.Models.NCSM_CRC_Schedule

@{
    var d = Model;
    CustomerEntities db = new CustomerEntities();
    var sch = db.NCSM_CRC_Schedule.Where(a => a.ID == d.ID).FirstOrDefault();
    var dept = db.NCSM_CRC_DUTY_Officer.Where(w => w.ID == d.deptID).FirstOrDefault();
    var conts = db.NCSM_CRC_DUTY_ContactList.OrderBy(o => o.ContactFullName).ToList();
    var contsingle = db.NCSM_CRC_DUTY_ContactList.Where(w => w.ContactID == d.contactID).OrderBy(o => o.ContactFullName).FirstOrDefault();
}
@{
    CustomerEntities db2 = new CustomerEntities();

    var SectorNumber = db2.NCSM_Canadian_Red_Cross_QC_CityRegion.Where(w => w.Active == true).Select(o => new { sector = o.SectorNumber }).Distinct().OrderBy(o => o.sector);

}
<script src="@Href("~/Scripts/jquery.simple-dtpicker.js")"></script>
<link href="@Href("~/Content/jquery.simple-dtpicker.css")" rel="stylesheet" />

<script src="@Href("~/Scripts/jquery.datetimepicker.full.min.js")"></script>
<link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<style>
    
    #hidden_duty {
        display: none;
    }
</style>

<div style="width: 900px; margin: 0 auto; text-align: center;">
    <span class="site-title">
        <span class="English">    Edit On Call Schedule</span>
        <span class="French">Modifier l'horaire d'appel</span>

      
    </span><br /><span class="dept-title">@dept.Name</span>
    <br />&nbsp;<br />
</div>


<form id="editSchedule" name="editSchedule" method="post" action="@Href("~/Schedules/Update")">
    <input type="hidden" id="deptID" name="deptID" value="" />
    <input type="hidden" id="ID" name="ID" value="" />

    <div style="margin: 0 auto; text-align: center;">

        <span style="color:red;">*</span>

        <span class="English">     Start Time:</span>
        <span class="French">Heure de début:</span>

        <input name="start_ET" type="text" id="start_ET" style="width: 150px;" readonly="readonly" value="@d.start_ET.Value.ToString("MM/dd/yyyy")" /><br /><br />

        <span style="color:red;">*</span>
        <span class="English">  End Time:</span>
        <span class="French">Heure de fin:</span>


        <input name="end_ET" type="text" id="end_ET" style="width: 150px;" readonly="readonly" value="@d.end_ET.Value.ToString("MM/dd/yyyy")" /><br /><br />
        <span style="color:red;">*</span>
        <span class="English">Contact: </span>
        <span class="French">Contact</span>

        <input type="text" id="OrgContact" name="OrgContact" value="@contsingle.ContactFullName" readonly /> <br /> <br />


       
            <span style="color:red;">*</span>
            <span class="English"> Contact changed To: </span>
            <span class="French">
                Contact changé en:
            </span>

              <select id="contactID" name="contactID" size="1">
            <option value=""></option>

            @foreach (var cont in conts)
            {

                <option value="@cont.ContactID">@cont.ContactFullName</option>

            }

        </select><br /><br /><br /><br />
        
      
        <div style="display:@(dept.Name=="Regular" ? "block":"none")">
            <span style="color:red;">* </span>
            <span class="English">Sector: </span>
            <span class="French">Secteur</span>
            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            <input type="text" id="OrgSector" name="OrgSector" value="@d.sector" readonly /> <br /> <br />


            <input type="button" id="search" value="Change Sector" style="font-size:14px;color:darkolivegreen;font-weight:bold" onclick="showDuty('hidden_duty', this)" /> <br /> <br />


            <div id="hidden_duty">
                <span style="color:red;">*</span>
                <span class="English"> Sector changed To: </span>
                <span class="French">
                    Secteur changé en :
                </span>

                <select id="Sector" name="Sector" size="1">
                    <option value=""></option>


                    @foreach (var SectorNumbers in SectorNumber)
                    {
                        <option value="@SectorNumbers.sector">@SectorNumbers.sector</option>
                    }


                </select><br /><br /><br /><br />
            </div>

        </div>


        <span class="doAdd" style="font-size:12px;"><span class="English">Save Changes</span><span class="French">Sauvegarder les modifications</span></span>


        <span class="cancelEdit" style="font-size:12px;"><span class="English">Cancel Edit</span><span class="French">Annuler Modifier</span></span>
        <!-- <input type="button" id="doAdd" name="doAdd" value="Save Changes" style="font-size:14px;" />
     <input type="button" id="cancelEdit" name="cancelEdit" value="Cancel Edit" style="font-size:14px;" />-->
    </div>
        
</form>

<div id="ValErr" title="Error">
    <span id="valflderror"></span>
</div>

<script>

    $(".doAdd").button();
    $(".cancelEdit").button();


    $(".doAdd").click(function () {

        if ($("#start_ET").val() == "") {
            $("#valflderror").html('Please select a Start Date/Time.');
            $("#ValErr").dialog("open");
            return false;
        }

        if ($("#end_ET").val() == "") {
            $("#valflderror").html('Please enter an End Date/Time.');
            $("#ValErr").dialog("open");
            return false;
        }

        if ($("#start_ET").val() > $("#DateCreated").val()) {
            $("#MisDates").html(' planning past the threshold (more than a week).');
            $("#MisDates").dialog("open");

        }

        if ($("#start_ET").val() >= $("#end_ET").val()) {
            $("#valflderror").html('Please correct Start and End Date/Time.');
            $("#ValErr").dialog("open");
            return false;
        }
        if ($("#end_ET").val() <= $("#start_ET").val()) {
            $("#valflderror").html('Please correct Start and End Date/Time.');
            $("#ValErr").dialog("open");
            return false;
        }


        if ($("#contactID").val() == "") {
            $("#valflderror").html('Please select a Contact.');
            $("#ValErr").dialog("open");
            return false;
        }

        if ($("#phone").val() == "") {
            $("#valflderror").html('Please enter a valid Phone Number.');
            $("#ValErr").dialog("open");
            return false;
        }

        if ($("#OrgSector").val() != "") {
            if ($("#Sector").val() == "") {
                $('#Sector').val($("#OrgSector").val());
            }
        }


        $('#Sector').change(function () {
            $('#OrgSector').val($(this).val());
        });


        

        $("#editSchedule").submit();


    });


    $(".cancelEdit").click(function () {
        location.href = "@Href("~/Schedules/ViewSchedule/")@d.deptID";
    });


    $('#start_ET').datetimepicker({
        step: 1,
        format: 'm/d/Y H:i',
        onShow: function (ct) {
            this.setOptions({
                maxDate: jQuery('#end_ET').val() ? jQuery('#end_ET').val() : false
            })
        },
        onSelect: function (selected) {
            var dt = new Date(selected);
            $("#end_ET").datetimepicker("option", "minDate", dt);
        }
    });



    $('#end_ET').datetimepicker({
        step: 1,
        format: 'm/d/Y H:i',
        onShow: function (ct) {
            this.setOptions({
                minDate: jQuery('#start_ET').val() ? jQuery('#start_ET').val() : false
            })
        }
    });



    $(function () {

        $('#ValErr').dialog({
            autoOpen: false,
            modal: true,
            draggable: false,
            width: 450,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                },
            }
        });

        $("#contactID").val("@d.contactID");
        $("#deptID").val("@dept.ID");
           $("#ID").val("@d.ID");


  $('#MisDates').dialog({
            autoOpen: false,
            modal: true,
            draggable: false,
            width: 300,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                },
            }
        });



       


    });

    function showDuty(divId, element) {
        document.getElementById(divId).style.display = 'block';
    }


</script>


<div id="MisDates" title="Missing Scheduling Sector">



    <text>@Html.Hidden("DateCreated", (DateTime.Today).AddDays(8), new { @readonly = "readonly", @style = "border: none;" }) </text>

    <br />

</div>
